 feature/groups
# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Flask instance folder
instance/

# OS/editor files
.vscode/
.DS_Store

.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
instance/
.pytest_cache/
*.egg-info/
dist/
build/
.DS_Store
 main
